@using reequest_system.Models
@using reequest_system.ViewModels
@{
    Student studInfo = Model.studentInfo;
    Collage collegeInfo = Model.collegeInfo;
    CollageMajor majoreInfo = Model.majoreInfo;
    List<RequestList> requestList = Model.requestList;
    List<Course> courseList = Model.courseList;

    var exceptionList = Model.exceptionList;

}
<title>Student @studInfo.StName</title>
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<img src="https://opera.cba.edu.sa/OnlineAdmissionSys/Content/images/logo_transparent.svg" alt="Paris" width="250" height="250">


<div class="container emp-profile">

    <div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="~/images/avatar-homme-final.jpg" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                    </h5>
                    <h6>
                        CE-Software engineering
                    </h6>
                    <p class="proile-rating"> : <span></span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                                Student Information
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Student Status</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>Personal Information</p>
                    <a href="">email:anashajr@gmail.com</a><br />
                    <a href="">phone:0556839734 </a><br />
                    <a href="">Nationality: @studInfo.NationalityId </a>
                    <p>Address</p>
                    <a href="">City: Jeddah</a><br />
                    <a href="">District:Alnaseem</a><br />
                    <a href="">Street: N/A</a><br />

                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home.index-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Student Id</label>
                            </div>
                            <div class="col-md-6">
                                <p>@studInfo.Ssn</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>@studInfo.StName</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Student's email</label>
                            </div>
                            <div class="col-md-6">
                                <p>@studInfo.Email</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>College</label>
                            </div>
                            <div class="col-md-6">
                                <p>@collegeInfo.ClgName</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>major</label>
                            </div>
                            <div class="col-md-6">
                                <p>@majoreInfo.MjrName</p>
                            </div>


                        </div>
                    </div>


                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Student Status</label>
                            </div>
                            <div class="col-md-6">
                                <p>Enrolled</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Completed credit hours</label>
                            </div>
                            <div class="col-md-6">
                                <p>130</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Remaining credit hours</label>
                            </div>
                            <div class="col-md-6">
                                <p>36</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>GPA</label>
                            </div>
                            <div class="col-md-6">
                                <p>3.99</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Enrollment year \termy</label>
                            </div>
                            <div class="col-md-6">
                                <p>Spring 2017</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label></label><br />
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-contact100">
        <div class="wrap-contact100">
            <form id="frmException" class="contact100-form validate-form">
                <span class="contact100-form-title">
                    <img src="~/images/signup-image.jpg" alt="sing up image">
                </span>

                @*<div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
                        <span class="label-input100">FULL NAME *</span>
                        <input class="input100" type="text" name="name" placeholder="Enter Your Name">
                    </div>

                    <div class="wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">SSN ID</span>
                        <input class="input100" type="text" name="ID" placeholder="Enter SSN ID">
                    </div>

                    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Enter Your Email (e@a.x)">
                        <span class="label-input100">Email *</span>
                        <input class="input100" type="text" name="email" placeholder="Enter Your Student's email ">
                    </div>*@

                <div class="wrap-input100 input100-select bg1 pb-3">
                    <div class="label-input100 mb-2 ">Type of Request *</div>
                    <div>
                        <select name="requestId" id="requestId" required class="form-control ">
                            <option value="">Please chooses your Type of Request</option>
                            @foreach (var item in requestList)
                            {
                                <option value="@item.RqstId">@item.RqstName</option>
                            }
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                </div>

                <div class="clearfix"></div>



                <div class="wrap-input100 input100-select bg1 dis-none" id="divCourses">
                    <div class="label-input100 mb-2 ">Choose the available courses</div>

                    <div>

                        <select name="courseId" id="courseId" required class="form-control">
                            <option>Please chooses your desired course</option>
                            @*loop throu the courselist *@
                            @foreach (var item in courseList)
                            {
                                <option value="@(string.Concat(item.CrsDpt,"-",item.CrsNum))">@item.CrsTitle</option>
                            }
                        </select>


                        @*<div class="contact100-form-radio m-t-15">
                                <input class="input-radio100" id="radio1" type="radio" name="type-product" value="course" checked="checked">
                                <label class="label-radio100" for="radio1">
                                    @item.CrsTitle
                                </label>
                            </div>*@
                    </div>


                    <div class="clearfix"></div>
                    @*<div class="wrap-contact100-form-range">
                            <span class="label-input100">Attention *</span>

                            <div class="contact100-form-range-value">
                                <span id="value-lower">The status of the application will appear as soon as the doctor is selected</span>  <span id="value-upper"></span>
                                <input type="text" name="from-value">
                                <input type="text" name="to-value">
                            </div>

                            <div class="contact100-form-range-bar">

                            </div>
                        </div>*@
                </div>


                <div class="clearfix"></div>
                <br>

                <div class="wrap-input100 validate-input bg0 rs1-alert-validate" data-validate="Please Type Your Message">
                    <span class="label-input100">Message</span>
                    <textarea required class="input100" id="message" name="message" placeholder="reason for your request..."></textarea>
                </div>

                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                        <span>
                            SEND
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </form>
            <div class="p-4">
                <h3>Request Status</h3>
                <table id="example" class="table table-bordered track_tbl">
                    <thead>
                        <tr>
                            <th></th>
                            <th>requst type</th>
                            <th>coruse name</th>
                            <th>justifition</th>
                            <th>stutas</th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr class="active">
                            <td class="track_dot">
                                <span class="track_line"></span>
                            </td>
                            @foreach (var item in exceptionList)
                            {

                            <tr>
                                <td class="track_dot">
                                    <span class="track_line"></span>
                                </td>
                                <td>@item.Request.RqstName</td>
                                <td>@item.Crs.CrsTitle</td>
                                <td>@item.Justification</td>
                                <td>
                                    <button type="button" class="btn btn-block btn-sm @(item.Status==2?"btn-success":(item.Status==3?"btn-danger":"btn-primary")) disabled" disabled>
                                        @(item.StatusNavigation!=null? item.StatusNavigation.StatusName:"")
                                    </button>

                                </td>
                            </tr>


                        }

                        </tbody>
                    </table>
                </div>

            </div>
        </div>



        <!--===============================================================================================-->
        <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/bootstrap/js/popper.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/select2/select2.min.js"></script>

        <script>

            $(document).ready(function () {
                $('#example').DataTable({
                    "order": [[4, "asc"]]
                });
            });



            $('#requestId').change(function () {
                if ($(this).val() == "") {
                    $('#divCourses').slideUp();
                }
                else {
                    //$('.js-show-service').slideUp();
                    $('#divCourses').slideDown();
                }
            });

            $(".js-select2").each(function () {
                $(this).select2({
                    minimumResultsForSearch: 20,
                    dropdownParent: $(this).next('.dropDownSelect2')
                });


                //$(".js-select2").each(function () {
                //    $(this).on('select2:close', function (e) {
                //        if ($(this).val() == "Please chooses") {
                //            $('#divCourses').slideUp();
                //        }
                //        else {
                //            //$('.js-show-service').slideUp();
                //            $('#divCourses').slideDown();
                //        }
                //    });
                //});
            })
        </script>
        <!--===============================================================================================-->
        <script src="~/vendor/daterangepicker/moment.min.js"></script>
        <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/countdowntime/countdowntime.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/noui/nouislider.min.js"></script>
        <script>
            var filterBar = document.getElementById('filter-bar');

            noUiSlider.create(filterBar, {
                start: [1500, 3900],
                connect: true,
                range: {
                    'min': 1500,
                    'max': 7500
                }
            });

            var skipValues = [
                document.getElementById('value-lower'),
                document.getElementById('value-upper')
            ];

            filterBar.noUiSlider.on('update', function (values, handle) {
                skipValues[handle].innerHTML = Math.round(values[handle]);
                $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
                $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
            });



        </script>
        <!--===============================================================================================-->
        <script src="~/js/main.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-23581568-13');
        </script>


    </div>


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->


    <script>
        $('#frmException').submit(function (e) {
            e.preventDefault();

            var params = $('#frmException').serialize();

            $.ajax({
                url: '/home/saveExpections',
                data: params,
                type: 'POST',
                async: false,
                success: function (resp) {
                    if (resp.status == 1) {
                        //alert('Your request has been submitted !');

                        setTimeout(function () {
                            window.location = location.href;
                        }, 500);

                    } else {
                        alert(resp.msg);
                    }
                }
            })

        })

    </script>`