@using reequest_system.Models 
@{ 
    Student studInfo = Model.studentInfo;
    Collage collegeInfo = Model.collegeInfo;
    CollageMajor majoreInfo = Model.majoreInfo;
} 
<title>Student @studInfo.StName</title>
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<img src="https://opera.cba.edu.sa/OnlineAdmissionSys/Content/images/logo_transparent.svg" alt="Paris" width="250" height="250">


<div class="container emp-profile">

    <form>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="~/images/student-graduation(1).jpg" alt="" />

                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                      
                    </h5>
                    <h6>
                        CE-Software engineering
                    </h6>
                    <p class="proile-rating"> : <span></span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                                Student Information
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Student Status</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>Personal Information</p>
                    <a href="">email:anashajr@gmail.com</a><br />
                    <a href="">phone:0556839734 </a><br />
                    <a href="">Nationality: @studInfo.NationalityId </a>
                    <p>Address</p>
                    <a href="">City: Jeddah</a><br />
                    <a href="">District:Alnaseem</a><br />
                    <a href="">Street: N/A</a><br />

                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home.index-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Student Id</label>
                            </div>
                            <div class="col-md-6">
                                <p>@studInfo.Ssn</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>@studInfo.StName</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Student's email</label>
                            </div>
                            <div class="col-md-6">
                                <p>RB0039@st.ubt.edu.sa</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>College</label>
                            </div>
                            <div class="col-md-6">
                                <p>@collegeInfo.ClgName</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>major</label>
                            </div>
                            <div class="col-md-6">
                                <p>@majoreInfo.MjrName</p>
                            </div>


                        </div>
                    </div>


                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Student Status</label>
                            </div>
                            <div class="col-md-6">
                                <p>Enrolled</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Completed credit hours</label>
                            </div>
                            <div class="col-md-6">
                                <p>130</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Remaining credit hours</label>
                            </div>
                            <div class="col-md-6">
                                <p>36</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>GPA</label>
                            </div>
                            <div class="col-md-6">
                                <p>3.99</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Enrollment year \termy</label>
                            </div>
                            <div class="col-md-6">
                                <p>Spring 2017</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label></label><br />
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="container-contact100">
        <div class="wrap-contact100">
            <form class="contact100-form validate-form">
                <span class="contact100-form-title">
                    <img src="~/images/signup-image.jpg" alt="sing up image">
                </span>

                <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
                    <span class="label-input100">FULL NAME *</span>
                    <input class="input100" type="text" name="name" placeholder="Enter Your Name">
                </div>

                <div class="wrap-input100 bg1 rs1-wrap-input100">
                    <span class="label-input100">SSN ID</span>
                    <input class="input100" type="text" name="ID" placeholder="Enter SSN ID">
                </div>

                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Enter Your Email (e@a.x)">
                    <span class="label-input100">Email *</span>
                    <input class="input100" type="text" name="email" placeholder="Enter Your Student's email ">
                </div>

                <div class="wrap-input100 input100-select bg1">
                    <span class="label-input100">Type of Request *</span>
                    <div>
                        <select class="js-select2" name="service">
                            <option>Please chooses your Type of Request</option>
                            <option>Skip pre Request</option>
                            <option>Skip Plan Level</option>
                            <option>Expand section Enrolment</option>
                            <option>Exceed max Credit</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                </div>

                <div class="w-full dis-none js-show-service">
                    <div class="wrap-contact100-form-radio">
                        <span class="label-input100">Choose the available courses</span>

                        <div class="contact100-form-radio m-t-15">
                            <input class="input-radio100" id="radio1" type="radio" name="type-product" value="physical" checked="checked">
                            <label class="label-radio100" for="radio1">
                                SE 310 	Multimedia & Web Design
                            </label>
                        </div>

                        <div class="contact100-form-radio">
                            <input class="input-radio100" id="radio2" type="radio" name="type-product" value="digital">
                            <label class="label-radio100" for="radio2">
                                SE 421 	Internet Application
                            </label>
                        </div>

                        <div class="contact100-form-radio">
                            <input class="input-radio100" id="radio3" type="radio" name="type-product" value="service">
                            <label class="label-radio100" for="radio3">
                                SE 206 	Introduction To Software Engineering
                            </label>
                        </div>
                    </div>

                    <div class="wrap-contact100-form-range">
                        <span class="label-input100">Attention *</span>

                        <div class="contact100-form-range-value">
                            <span id="value-lower">The status of the application will appear as soon as the doctor is selected</span>  <span id="value-upper"></span>
                            <input type="text" name="from-value">
                            <input type="text" name="to-value">
                        </div>

                        <div class="contact100-form-range-bar">

                        </div>
                    </div>
                </div>

                <div class="wrap-input100 validate-input bg0 rs1-alert-validate" data-validate="Please Type Your Message">
                    <span class="label-input100">Message</span>
                    <textarea class="input100" name="message" placeholder="reason for your request..."></textarea>
                </div>

                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                        <span>
                            SEND
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </form>
            <div class="p-4">
                <h3>Request Status</h3>
                <table class="table table-bordered track_tbl">
                    <thead>
                        <tr>
                            <th></th>
                            <th>requst type</th>
                            <th>coruse name</th>
                            <th>justifition</th>
                            <th>stutas</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active">
                            <td class="track_dot">
                                <span class="track_line"></span>
                            </td>

                        <tr>
                            <td class="track_dot">
                                <span class="track_line"></span>
                            </td>
                            <td>Skip Plan level</td>
                            <td>DSE 310 Multimedia & Web Design</td>
                            <td>not yet</td>
                            <td><button type="button" class="btn btn-secondary">pending</button></td>
                        </tr>
                        <tr>
                            <td class="track_dot">
                                <span class="track_line"></span>
                            </td>
                            <td>Skip pre Request</td>
                            <td>SE 421 Internet Application</td>
                            <td>Denied for not taking a pre-requisite</td>
                            <td><div class="btn btn-danger"> rejected</div>

                        </tr>
                        <tr>
                            <td class="track_dot">
                                <span class="track_line"></span>
                            </td>
                            <td>Expand section</td>
                            <td>
                                SE 206 Introduction To Software Engineering
                            </td>
                            <td>accepted</td>
                            <td><div >class="btn btn-success"</div>success</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>



    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });


            $(".js-select2").each(function () {
                $(this).on('select2:close', function (e) {
                    if ($(this).val() == "Please chooses") {
                        $('.js-show-service').slideUp();
                    }
                    else {
                        $('.js-show-service').slideUp();
                        $('.js-show-service').slideDown();
                    }
                });
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/noui/nouislider.min.js"></script>
    <script>
        var filterBar = document.getElementById('filter-bar');

        noUiSlider.create(filterBar, {
            start: [1500, 3900],
            connect: true,
            range: {
                'min': 1500,
                'max': 7500
            }
        });

        var skipValues = [
            document.getElementById('value-lower'),
            document.getElementById('value-upper')
        ];

        filterBar.noUiSlider.on('update', function (values, handle) {
            skipValues[handle].innerHTML = Math.round(values[handle]);
            $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
            $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
        });
    </script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
</div>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
